.menu-top{
    background-color: #FFC300;
    display: flex;
    justify-content: center;
    
}
.search{
    display: flex;
    justify-content: center;
    width: 700px;
    
}
/* *{
    border-style: solid;
} */

 .menus{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .notif-bag{
    display: flex;
    align-items: center;
    gap: 16px;
    height: 50px;
 }
 .loc{
    display: flex;
    align-items: center;
    height: 50px;
 }
.top-search{
    width: 100%;
    margin-top: 8px;
}
.top-bar{
    width: 100%;
    display: flex;
    align-items: center;
}
.top-bar input{
    width: 100%;
}
.search-content{
    width: 100%;
    padding: 12px 10px;
}
.top-bar input{
    height: 36px;
    border-radius: 12px 0px 0px 12px;
    border-width: 0.1px;
    border-color: #b0b0b0;
    border-style: solid;
    padding-left: 8px;
}

.top-bar button{
    height: 36px;
    border-radius: 0px 12px 12px 0px;
    border-width: 0.1px;
    border-color: #b0b0b0;
    border-style: solid;
    background-color: #ffffff;
    padding: 0px 4px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 32px;
    
}
#cart{
    background-color: #FFC300;
}