<div class="menu-div">
    <div class="menu-top">
        <div class="search">
            <div class="search-content">
                <div class="menus">
                    <div class="loc">
                        <img src="/assets/location.png" alt="">
                        <h6>Address</h6>
                    </div>
    
                    <div class="notif-bag">
                         <div class="notif">
                            <img src="/assets/notification.png" alt="">
                         </div>
                         <div class="bag">
                            <img src="/assets/bag.png" alt="">
                         </div>
                    </div>
                </div>
                <div class="top-search">
                    <div class="top-bar">
                        <input type="text" name="" id="" placeholder="Search Hot Drinks, Cold Drinks, and Snacks">
                         <button type="button">SEARCH</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cards">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary" id="">Go somewhere</a>
            </div>
          </div>
    </div>
</div>